html {
    height: 100%;
}
body {
    background: rgb(218, 171, 160);
    background-image: url(../images/pexels-aleksandar-pasaric-1323712.jpg);
   background-repeat: repeat;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
    padding: 20px;
    height: 100%;
    background: rgba(218, 202, 189, 0.8);
    border-bottom: 1px solid black;
    
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


nav ul li {
    padding-left: 75px;
    list-style: none;
}
.logo img{
    max-width: 200px;
    padding: 0;
    margin: 0;
}
.menu a {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.menu a:hover {
    text-decoration: underline;
    font-weight: 500;
}
.wrapper {
    min-height: 100%;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
    background: rgba(218, 202, 189, 0.6);
    border: solid 1px black;
    border-radius: 16px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.card img {
    height: 190px;
    border-radius: 16px;
    border-bottom: 1px solid black;
}

.card a {
    background: rgba(218, 202, 189, 0.6);
    text-decoration: none;
}

.card .price {
    font-weight: 800;
    font-size: 20px;
}
button {
    background: rgb(218, 171, 160);
    border: solid 1px black;
    border-radius: 6px;
    padding: 4px;
    font-size: 18px;
}
h1 {
    text-align: center;
}
.text {
    background: rgba(218, 171, 160, 0.7);
    border-radius: 6px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 10px;
}
h2 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
}

footer {
    display: flex;
    background: rgba(218, 202, 189, 0.8);
    text-align: center;
    padding: 20px;
    justify-content: space-evenly;
    margin-top: 10vh;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: underline;
    font-weight: 500;
}
.footer-content  a  {
    margin-top: 5px;
    font-weight: 400;
}
.social {
    margin: 10px;
    width: 25px;
}
.main-cont {
   display: none;
}

@media only screen and (max-width: 900px) {
    body {
      display: block;
    }
    nav {
        padding: 5px;
        text-align: center;
        display: inline-block;
    }
    .menu a {
        font-size: 15px;
    }
    .logo img {
        max-width: 100px;
    }
    .home {
        display: none;
    }
    .homeicon {
       justify-content: center;
        display: block;
      width: 20px;
      height: 20px;
  }
  .menu li{

  margin: 16px;
    
  }
  }
@media only screen and (max-width: 600px) {
    body {
      display: block;
    }

    .logo img {
        max-width: 120px;
    }
    .search img{
        max-width: 20px;
        padding: 0;
        margin-top: 5px;
      }
      .home {
          display: none;
      }
      .homeicon {
        justify-content: center;
          display: block;
        width: 20px;
        height: 20px;
    }
    .menu li{

    margin: 16px;
      
    }
  }

  .search img{
    max-width: 40px;
    padding: 0;
    margin: 0;
  }
  @media only screen and (min-width: 900px) {
  .homeicon {
      display: none;
      width: 20px;
      height: 20px;
  }
 
}